@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://raw.githubusercontent.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', 'Helvetica', 'Arial', sans-serif;
    background-color: #2F353B;
    color: #FFFFFF;
    line-height: 1.6;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    position: relative;
    z-index: 2;
}

.header-stripe {
    width: 100%;
    height: 100px; 
    background-color: rgba(0, 0, 0, 0.25);
    margin-top: -110px;
    backdrop-filter: blur(12.3px);
    -webkit-backdrop-filter: blur(12.3px); 
    position: relative; 
    z-index: 1;
}

.header-left 
{ display: flex; 
    gap: 40px; 
    align-items: center; 
    transform: translateY(-3px);
}

.menu-btn, .lang-selector { 
    display: flex; 
    align-items: center; 
    gap: 10px; 
    cursor: pointer; 
    font-size: 18px;           
    font-weight: 400;          
    text-transform: uppercase; 
    color: #FFFFFF;            
    font-family: 'Mulish';
}

.menu-btn { margin-left: 105px; margin-top: -2px; }
.lang-selector { margin-left: 5px; }

.menu-logo, .lang-logo { width: 24px; height: 24px; object-fit: contain; }
.lang-logo { position: relative; left: 7px; top: -2px; }

.login-link { 
    text-decoration: none; 
    color: white; 
    font-size: 18px;           
    font-weight: 400;          
    text-transform: uppercase; 
    font-family: 'Mulish';     
    position: relative;
    left: -77px;    
    top: -5px;      
}

.logo img 
{ width: 128px; 
    height: 47.75px; 
    object-fit: contain; 
}
.logo 
{ 
    margin-right: 246px;
     margin-top: -5px; 
    }

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), 
                      url('../assets/images/main-page/main1.jpg');
    width: 100%;
    height: 900px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero-content { position: relative; top: 48px; }

.hero h1 { 
    font-size: 60px; 
    font-weight: 300; 
    font-family: 'Mulish', sans-serif;
    margin-bottom: 125px;
    margin-right: 18px;
}

.hero h1 .city-text { display: inline-block; padding-left: 18px; margin-top: -12px; vertical-align: top; }

.btn {
    width: 317px;
    height: 57px;
    border-radius: 30px; 
    cursor: pointer; 
    text-transform: uppercase; 
    font-family: 'Mulish'; 
    font-weight: 400;          
    color: #777C88;            
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;               
    position: relative;
    top: -101px; 
    font-size: 18px;           
    transition: 0.3s; 
    text-decoration: none;
    background-color: #FFFFFF;
}

.btn-outline {
    background: transparent;
    border: 1.5px solid rgb(255, 255, 255);
    color: white;
    margin-top: 30px;
    top: 0; 
}

.grid-2 { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 40px; 
    padding: 100px 0; 
}

.text-block h2 {
    font-family: 'Mulish';
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    color: #FFFFFF;
    text-transform: uppercase;
    position: relative;
    top: 10px;
    margin-top: 15px;   
    margin-left: 35px;
}

.advantages-title {
    transform: translateY(-100px); 
    position: relative;
}

.clinic-info .content-block p, .advantages .content-block ul {
    font-family: 'rawline', sans-serif; 
    font-size: 20px;
    font-weight: 400;
    color: #E5E5E5;
    line-height: 140%;
    letter-spacing: 0.4px;
    max-width: 630px;    
    margin-top: 30px;
    margin-left: -135px;
    margin-bottom: 40px; 
    transform: translateY(-3px);
}

.advantages .content-block ul {
    font-family: 'rawline', sans-serif; 
    font-size: 20px;            
    font-weight: 400;          
    color: #E5E5E5;             
    letter-spacing: 0.3px;      
    
    max-width: 700px;           
    margin-left: -120px;        
    
    margin-top: 25px;           
    line-height: 135%;
    list-style: none;       
    transform: translateY(-1px);   
}



.advantages .content-block li {
    margin-bottom: 10px;
}

.clinic-info .content-block .btn-outline, .advantages .content-block .btn-outline {
    margin-left: -135px; 
    margin-top: 9px;
    position: relative;
    top: 0;
}

.advantages .content-block {
    margin-top: -100px; 
    
}

.image-gallery { 
    display: flex; 
    justify-content: center; 
    align-items: flex-start;
    gap: 30px; 
    padding-bottom: 100px; 
}

.img-left { 
    width: 405px;
    height: 557px;
    margin-top: 300px; 
    overflow: hidden;
    flex-shrink: 0;
}

.img-right { 
    width: 980px;
    height: 653px;
    overflow: hidden; 
    margin-left: 25px;
    flex-shrink: 0;
}

.image-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.image-gallery-alt { display: flex; justify-content: center; gap: 40px; padding: 40px 50px 120px 50px; }
.img-bottom-left { 
    width: 857px;         
    height: 572px;        
    overflow: hidden;     
    flex-shrink: 0;      
    transform: translate(7px, -40px);
}

.img-bottom-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
    display: block;
    
}

.img-bottom-right { 
    width: 556px;          
    height: 489px;         
    margin-top: 180px;     
    overflow: hidden;       
    flex-shrink: 0;         
    display: block;
    transform: translate(-7px, 13px);
}

.img-bottom-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;      
    display: block;
}

.footer {
    background-color: #202428;
    backdrop-filter: blur(12.3px);
    -webkit-backdrop-filter: blur(12.3px);
    padding: 82px 0;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.footer-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.footer-logo img { 
    width: 206px;          
    height: 80px;      
    object-fit: contain;   
    display: block;        
    
transform: translateY(-12px) scaleY(1.1);
}

.footer-logo { 
    align-self: center; 
    
}

.footer-line {
    width: 1128px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 20px 0;
    margin: 20px auto;
    transform: translateY(10px);
}

.footer-line:last-of-type {
    transform: translateY(5px); 
}

.footer-nav 
{ 
    display: flex; 
    flex-direction: column; 
    gap: 15px; 
    margin: 20px 0; 
    margin-left: 106px;
    transform: translateY(10px);
}

.footer-nav .footer-links-row:last-child a:last-child {
    margin-left: 5px; 
}

.footer-links-row
 { 
    display: flex; 
    gap: 54px; 
}
.footer-links-row a 
{ 
    font-family: 'Mulish';
    color: #FFFFFF; 
    text-decoration: none; 
    font-size: 20px; 
    font-weight: 500;
    letter-spacing: 0px;
}


.footer-socials img 
{ 
    width: 32px; 
    height: 32px; 
    filter: brightness(0) invert(1); 
}

.footer-socials { 
    display: flex; 
    gap: 17px; 
    margin-top: 6px; 
    
    transform: translateY(21px); 

    margin-left: 105px; 
}

.advantages .content-block .btn-outline {
    margin-left: -120px; 

}