@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden; 
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('../assets/images/menu1-page/menu1.jpg') no-repeat top center;
    background-size: cover; 
    display: flex;
    align-items: flex-start; 
    z-index: 1000;
}

.menu-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.34); 
    z-index: 1; 
}

.side-panel {
    width: 585px;
    height: 1060px;
    position: relative; 

    background: linear-gradient(to right, 
                rgba(47, 53, 59, 0.98) 0%, 
                rgba(47, 53, 59, 0.98) 5%, 
                rgba(169, 169, 169, 1) 100%);
    
    z-index: 2;
}

.close-btn {
    position: absolute;
    top: 120px;
    left: 30px;
    background: none;
    border: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
    z-index: 10;
}

.menu-list {
    list-style: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.menu-list li {
    position: absolute;
}

.menu-list a {
    text-decoration: none; 
    color: white;           
    font-size: 24px;        
    font-weight: 400;       
    text-transform: uppercase;
    letter-spacing: 0px;
    transition: 0.3s;
}

.menu-list a:hover {
    color: #d1d1d1;
    letter-spacing: 4px;
}

.item-home {
    top: 448px; 
    left: 370px;
}

.item-services {
    top: 530px; 
    right: 99px; 
}

.item-team {
    top: 610px; 
    left: 358px;
}

.item-reviews {
    top: 690px; 
    right: 100px; 
}

.item-contacts {
    top: 772px; 
    left: 351px;
}