@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
    font-family: 'rawline';
    src: url('../fonts/rawline-400.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'rawline', sans-serif;
}

.hero-diagnostics {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), 
                      url('../assets/images/service-menu6-page/service-menu1.jpg');
    width: 100%;
    height: 900px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero-content { position: relative; top: 27px; }

.hero-diagnostics h1 { 
    font-size: 60px; 
    font-weight: 300; 
    margin-bottom: 38px; 
    text-transform: uppercase;
    color: white;
    position: relative;
    font-family: 'Mulish';
        top: 2px;  
        left: -1px;

}

.btn-white {
    width: 317px;
    height: 57px;
    border-radius: 30px; 
    cursor: pointer; 
    text-transform: uppercase; 
    font-family: 'Mulish'; 
    color: #777C88; 
    background-color: #FFFFFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 18px;
    transition: 0.3s;
    transform: translateY(-2px);
}

.diagnostics-wrapper {
    background-color: #2F353B;
    padding-bottom: 80px; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 20px;
}

.white-bg-section {
    background-color: #FFFFFF;
    color: #2F353B;
    margin-top: -10px; 
    position: relative;
    z-index: 5;
    padding-top: 100px;
    padding-bottom: 368px; 
    margin-bottom: -1150px; 
}

.white-bg-section .container {
    padding-bottom: 0px; 
}

.side-img img {
    width: 559px; 
    height: 769px;
    object-fit: cover; 
}

.full-width-section img {
    width: 830px;  
    height: 553px; 
    object-fit: cover;
    margin-top: -482px;  
    margin-left: -140px;   
    position: relative;
}

.white-bg-section .specialists-img {
    width: 873px;
    height: 583px;
    object-fit: cover;
    position: relative;
    transform: translate(427px, -418px);
}

.info-row {
    display: flex;
    gap: 80px;
    margin-bottom: 120px;
    align-items: flex-start;
}

.info-row.reverse {
    flex-direction: row-reverse;
}

.diagnosis-text, .tomograph-text, .safety-text, .steps-title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 20px;
    max-width: 850px;
    width: 210%;
}

.accent-line {
    width: 88px;
    height: 4px;
    background-color: #FF9825;
    margin-bottom: 30px;
}

.tomograph-accent {
    background-color: #FF9825;
    position: relative; 
    transform: translate(705px, -25px);
}

.btn-outline {
    background: transparent;
    border: 1.5px solid #2F353B;
    color: #2F353B;
    width: 317px;
    height: 57px;
    border-radius: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Mulish';
    font-size: 18px;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 20px;
}

.diagnostics-wrapper .btn-outline {
    border-color: #FFFFFF;
    color: #FFFFFF;
}

#footer-placeholder {
    background: #fff; 
    margin-top: -30px; 
    position: relative;
    z-index: 100; 
}

.info-image.side-img {
    flex: 1;
    position: relative;
    margin-top: 125px;  
    margin-left: 345px; 
}

.first-text-block {
    position: relative; 
    transform: translate(18px, 42px);
}

.first-btn {
    transform: translateY(3px);
    position: relative;
}

.first-accent {
    position: relative; 
    transform: translate(-160px, 32px);
    background-color: #FF9825;
}

.tomograph-text-block .steps-title {
    font-family: 'Mulish', sans-serif; 
    font-size: 40px;               
    font-weight: 500;               
    color: #2F353B;                 
    text-transform: uppercase;       
    line-height: 1.25;
    margin-bottom: 30px;        
    width: 100px;
    position: relative;
    transform: translate(-493px, -60px); 
    display: inline-block; 
}

.white-bg-section .tomograph-img {
    width: 535px;
    height: 736px;
    object-fit: cover;
    position: relative;
    transform: translate(-35px, -23px);
}

.tomograph-text {
    width: 650px; 
    position: relative;
    transform: translate(-17px, -58px);
}

.diagnost-btn {
    position: relative;
    transform: translate(-18px, -55px); 
}

.specialists-text-block {
    width: 650px; 
    position: relative;
    transform: translate(-104px, 502px);
}

.specialists-text-block .tomograph-text {
    position: relative;
    transform: translate(-832px, -215px); 
    z-index: 10;
}

.specialists-text-block .steps-btn {
    position: relative;
    transform: translate(-833px, -214px);
    z-index: 20;
}

.specialists-line {
    position: relative;
    transform: translate(-993px, -185px);
    background-color: #FF9825; 
}

.white-bg-section .double-img img {
    width: 535px;
    height: 736px;
    object-fit: cover;
    transform: translate(-140px, 438px);
}

.steps-text-block {
    position: relative;
    transform: translate(-347px, -782px);
    width: 100%;
    max-width: 320px;
}

.double-img {
    display: flex;
    gap: 20px; 
}

.specialists-text-block .steps-title {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    transform: translate(-495px, -40px); 
}

.specialists-text-block .steps-list {
    position: relative;
    list-style-type: none;
    transform: translate(-484px, -42px); 
}

.steps-text-block .steps-list li {
    font-size: 20px;
    position: relative; 
    margin-bottom: 10px;
    list-style-type: disc;
    width: 630px;
}

.steps-line {
    position: relative;
    transform: translate(597px, 132px);
    background-color: #98B25F; 
    z-index: 10;
}

.white-bg-section .microscope-img {
    width: 535px !important;  
    height: 736px !important; 
    position: relative;
    transform: translate(540px, -1203px) !important; 
}

.safety-text {
    margin-top: 650px; 
}

.photo-7 {
    width: 849px;
    height: 746px;
    position: relative;
    transform: translate(-990px, -113px); 
}

.photo-8 {
    width: 556px;
    height: 489px;
    position: relative;
    transform: translate(-990px, -20px); 
}

.steps-text-block .steps-btn {
    position: relative !important;
    transform: translate(0px, -28px) !important; 
    z-index: 100; 
}

.last-step-btn {
    position: relative; 
    transform: translate(-195px, 0px); 
    white-space: nowrap; 
    z-index: 10;
}

main {
    overflow: hidden; 
    width: 100%;
}

.steps-text-block .steps-title {
   
    position: relative;
    transform: translate(0px, -4px); 
}

.steps-text-block .steps-list li:nth-child(1) {
    position: relative;
    transform: translate(30px, -9px);
    line-height: 1.4;
}

.steps-text-block .steps-list li:nth-child(2) {
    position: relative;
    transform: translate(30px, -19px);
        line-height: 1.4;

}

.steps-text-block .steps-list li:nth-child(3) {
    position: relative;
    transform: translate(30px, -29px);
            line-height: 1.4;

}

.steps-text-block .steps-list li:nth-child(4) {
    position: relative;
    transform: translate(31px, -39px);
                line-height: 1.4;

}

body, main {
    background-color: #FFFFFF;
}