<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="assets/images/logo/logo1.png" alt="Dental Club Logo">
        </div>
        <hr class="footer-line">
        <nav class="footer-nav">
        <div class="footer-links-row">
    <a href="index.html">ГЛАВНАЯ</a>
    <a href="#">УСЛУГИ</a>
    <a href="team.html">КОМАНДА</a>
    <a href="prices.html">ПРАЙС-ЛИСТ</a>
                    <a href="schedule.html">РАСПИСАНИЕ</a>

</div>
            <div class="footer-links-row">
                <a href="#">ОТЗЫВЫ</a>
                <a href="#">КОНТАКТЫ</a>
            </div>
        </nav>
        <hr class="footer-line">
        <div class="footer-socials">
            <a href="#"><img src="assets/images/icons/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="assets/images/icons/youtube.png" alt="YouTube"></a>
            <a href="#"><img src="assets/images/icons/vk.png" alt="VK"></a>
            <a href="#"><img src="assets/images/icons/whatsapp.png" alt="WhatsApp"></a>
        </div>
    </div>
</footer>