<header class="header">
    <div class="header-container">
        <div class="header-left">
            <div class="menu-btn">
                <img src="assets/images/logo/logo2.png" alt="Menu Logo" class="menu-logo">
                МЕНЮ
            </div>
            <div class="lang-selector">
                <img src="assets/images/logo/logo3.png" alt="Lang" class="lang-logo">
                RUS
            </div>
        </div>
        <div class="logo">
            <img src="assets/images/logo/logo1.png" alt="Dental Club Logo">
        </div>
        <div class="header-right">
            <a href="#" class="login-link">ВОЙТИ</a>
        </div>
    </div>
    <div class="header-stripe"></div>
</header>